<div class="container-fluid">
<div class="row">
  <div class="col-md-12">
      <h1>Flow of Consciousness</h1>

    <% @articles.each do |article| %>

    <table>
        <thead>
          <tr>
            <th><h2><%= article.title %></h2></th>
          </tr>
          <tr>
            <th><%= article.created_at_f %></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= article.text %></td>
          </tr>
          <tr>
            <td><%= link_to "Edit", edit_article_path(article) %>
                <%= link_to "Delete", article_path(article), method: :delete %>
            </td>
          </tr>
        </tbody>
    </table>
      <br>
    <% end %>

  </div>
  </div>
</div>


<div id="accordion">
  <h3>Test</h3>
  <div>
    <p>Test text</p>
  </div>
</div>

<script>
  $(function() {
    $("#accordion").accordion();
  });
</script>