<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>BlogU</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => false %>
  <%= csrf_meta_tags %>

</head>
<body>
  <section class="container">
    <%= render 'layouts/navbar' %>
  </section>

  <section class="container">
    <%= yield %>
  </section>
</body>
</html>
